@font-face {
    font-family: title;
    src: url(fonts/airstrike.ttf);
}

@font-face {
    font-family: header;
    src: url(fonts/PARTTH_I.TTF);
}

@font-face {
    font-family: about-me;
    src: url(fonts/dreamorphans.ttf)
}

@font-face {
    font-family: projects;
    src: url(fonts/BebasNeue-Regular.ttf)
}

@keyframes letter-move-down{
    to {
      transform: translateY(0);
      opacity: 1;
    }
}
@keyframes letter-move-up{
    to {
        transform: translateY(-30px);
        opacity: 1;
      }
}

@keyframes scroll{
    to {
        transform: translateX(calc(-100%) );
    }
}

@keyframes autoShowImg {
    from{
        transform: translateY(10%);
    } to{
        transform: translateY(-10%);
    }
}

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

main {
    padding-top: 10%;
}

body {
  margin: 0;
  overflow-x: hidden;
}

#links-div {
    display: flex;
    gap: 2vw;
    flex: 1;
    text-align: right;
    justify-content: flex-end;
}

.link {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: header;
    font-size: 1.5vw;
    font-weight: bold;
}

.link span {
    display: inline-block;
    transition: animation 1s cubic-bezier(0.25, 1, 0.5, 1) forwards, transform 0.5s;
}

.link:hover span {
    animation: letter-move-up 1s cubic-bezier(0.25, 1, 0.5, 1) forwards, 
    letter-move-down 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.link span:nth-child(1) { animation-delay: 0.2s; }
.link span:nth-child(2) { animation-delay: 0.3s; }
.link span:nth-child(3) { animation-delay: 0.4s; }
.link span:nth-child(4) { animation-delay: 0.5s; }
.link span:nth-child(5) { animation-delay: 0.6s; }
.link span:nth-child(6) { animation-delay: 0.7s; }
.link span:nth-child(7) { animation-delay: 0.8s; }
.link span:nth-child(8) { animation-delay: 0.9s; }

.link:active {
    text-shadow: 0.03em 0 rgba(55, 55, 55, 0.671), -0.03em 0 rgb(55, 55, 55, 0.671), 0 0.03em rgb(55, 55, 55, 0.671), 0 -0.03em rgb(55, 55, 55, 0.671);
    transform: scale(1.08);
}

h1 {
    flex: 1;
    text-align: center;
    font-family: title;
    font-size: 3vw;
}

#languages-div {
    flex: 1;
    text-align: left;
    font-family: header;
    font-size: 1.2vw;
    font-weight: bold;
}

.language {
    font-family: header;
    font-size: 1.2vw;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.language:hover {
    cursor: pointer;
    transform-origin: center;
    transform: scale(115%);
    font-weight:bolder;
}

.horizontal {
    display: flex;
    overflow: hidden;
    margin: 0;
    padding-block: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.horizontal ul {
    font-size: 1.5vw;
    border-block: 1px solid black;
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5vw;
    animation-name: scroll;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

li a{
    color: black;
    text-decoration: none;
}

.first {
    animation-duration: 20s;
}

.second {
    animation-duration: 22.5s;
}

.third {
    animation-duration: 25s;
}

.am {
    font-family: projects;
    font-size: 14vw;
    line-height: 0.8;
    width: 30%;
    top: 0;
    font-weight:lighter;
    position: absolute;
    z-index: 100;
    background-color: transparent;
    padding: 0px 0px; 
    text-align: center
}

.h {
    font-size: 5vw;  
    margin-top: 10%;
}

.container {
    position: relative;       
    height: 200vh;
    overflow: hidden; 
}

#proj-title {
    font-size: 5.5vw;
    transform: rotate(90deg);
    font-family: projects;
    position: fixed;
    top: 25vh;
    margin-left: 80vw;
    margin-top: 20vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

#projs {
    display: flex;
    flex-wrap: wrap; 
    justify-content:space-between;
    gap: 5%; 
    margin-top: -22vh; 
}

#projs .box { 
  width: 85%;
  padding: 0 2vw;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;
  margin-bottom: 2.3vh;
}

.box .block {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-left: 5vw;
}

.box .block1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
}

.bi img {
  width: 33vw;
  height: 120%;
  object-fit: cover;
  transform: translateY(20%);
  will-change: transform;
  transition: opacity 0.3s ease;
}

.box img:hover {
    opacity: 0.4;
    cursor:pointer;
}

.bi {
    height: 40vh;
    width: 33vw;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.description {
    width: 36vw;
    text-align: justify;
    font-size: 1.5vw;
}

h5 {
    color: white;
    text-shadow: 0.1vw 0.1vh 0.2vw rgb(0, 0, 0), -1px -1px 2px rgb(0, 0, 0);
    padding: 3%;
    font-size: 1.5vw;
    position: absolute;
    top: 45%;
    left: 13.5vw;
    transform: translate(0, -45%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.bi:hover h5 {
    opacity: 1; 
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
}

.fade {
    animation: fade 0.5s ease-in-out;
}

.button {
    font-size: 0.8vw;
    cursor: pointer;
    color: white;
    background: black;
    border-radius: 50%;
    padding: 0.8vw;
    margin: 0.5vh 0.3vw 0.5vh 0.3vw;
}

.lightbox {
  display: none;             
  position: fixed;
  z-index: 2000;             
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  min-width: 70%;
  min-height: 60%;
}

.lightbox .close {
  position: absolute;
  top: 1vh;
  right: 2.5vw;
  font-size: 3.5vw;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.lightbox .close:hover {
  color: red;
}

h2 {
    font-size: 3vmin;
}

